
# Ignore files and directories created by frontend
imgui_frontend/src/.obj/*
imgui_frontend/alive_interface
imgui_frontend/data/customBiasValues/*
imgui_frontend/data/savedOutput/*
imgui_frontend/data/inputAER/*

# Ignore directories created by PlatformIO
teensy_backend/.pio
#ALIVE
alive_plots/
# Ignore all vscode directories
.vscode
imgui_frontend/.vscode
teensy_backend/.vscode
