#---------------------------------------------------------------------------------------------------------------------------------------
#
#
# Author: Ciara Giles-Doran <gciara@student.ethz.ch>
# Last updated: 
#---------------------------------------------------------------------------------------------------------------------------------------

# Ignore created files
src/.obj/
honeyBadger

# Ignore IDE files
.vscode/
