#---------------------------------------------------------------------------------------------------------------------------------------
#
#
# Author: Ciara Giles-Doran <gciara@student.ethz.ch>
# Last updated: 
#---------------------------------------------------------------------------------------------------------------------------------------

# Ignore created files
src/.obj/
alive_interface
data/output*

# Ignore IDE files
.vscode/
