#---------------------------------------------------------------------------------------------------------------------------------------
#
#
# Author: Ciara Giles-Doran <gciara@student.ethz.ch>
# Last updated: 
#---------------------------------------------------------------------------------------------------------------------------------------

# Ignore directories created by PlatformIO
.pio
.vscode